<!-- Foooter
      ================== -->
<footer>
    <div class="container">
        <div class="row">
            <!-- Contact me
            =================  -->
            <div class="col-sm-4">
                <div class="headline"><h3>Contact me</h3></div>
                <div class="content">
                    <p>
                        Milton Keynes,, <br />
                        United Kingdom,<br />
                        Phone: +0 000 000 00 00<br />
                        Fax: +0 000 000 00 00<br />
                        Email: <a href="#">admin@mysite.com</a>
                    </p>
                </div>
            </div>
            <!-- Social icons
            ===================== -->
            <div class="col-sm-4">
                <div class="headline"><h3>Go Social</h3></div>
                <div class="content social">
                    <p>Stay in touch with me:</p>
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/julianperrott"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://github.com/julianperrott"><i class="fa fa-github"></i></a>
                        </li>
                        <li>
                            <a href="http://uk.linkedin.com/pub/julian-perrott/89/243/7b4"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</footer>