<!-- Legal
       ============= -->
<div class="legal">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p>&copy; Julian Perrott 2014. <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a></p>
            </div>
        </div>
    </div>
</div>