<!-- Legal
       ============= -->
<div class="legal">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p>&copy; Julian Perrott 2014.</p>
            </div>
        </div>
    </div>
</div>