@{
    ViewBag.Title = "Index";
}

<h2><a href="@Url.Action("Index","PostRedirectGet")">Post Redirect Get</a></h2>
<h2><a href="@Url.Action("Index", "PostRedirectGetRedirectGet")">Post Redirect Get Redirect Get</a></h2>
<h2><a href="@Url.Action("Index","SignalR")">Signal R</a></h2>

