@{
    ViewBag.Title = "Index";
}

<h2><a href="@Url.Action("Index","PostRedirectGet")">Post Redirect Get (Simple Call to Server)</a></h2>
<h2><a href="@Url.Action("Index", "PostRedirectGetRedirectGet")">Post Redirect Get Redirect Get (Client Pull)</a></h2>
<h2><a href="@Url.Action("Index","SignalR")">Signal R (Server Push)</a></h2>

