<!DOCTYPE html>
<html style="margin:10px">
<head>
    <meta name="viewport" content="width=device-width" />
    @{ if (ViewBag.Meta!=null)
       {
           @Html.Raw(ViewBag.Meta);
       }
    }
 
    <title>@ViewBag.Title</title>
    <link href="~/Areas/Feedback/css/bootstrap.css" rel="stylesheet" />
    <script src="~/Areas/Feedback/js/jquery-1.9.1.js"></script>
</head>
<body>
    <h3>@ViewBag.Title</h3>
    @RenderBody()
</body>
</html>