@model System.ServiceModel.Syndication.SyndicationItem
    @{
        Layout = null;
    }

    <h5>@Html.Raw(Model.Title.Text)</h5>
    <p class="text-muted">
        @if (Model.Summary!=null)
        {
            Html.Raw(Model.Summary.Text);
        }
    </p>
    <hr>