@{
    ViewBag.Title = "Error404";
}

<div class="wrapper">
    <div class="not-found">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="digits">
                        4<i class="fa fa-meh-o animated flipInX" id="smile"></i>4
                    </div>
                    <h1>The page you are trying to reach is not found</h1>
                    <h2>You can try to search within our website instead:</h2>
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label class="sr-only" for="search-404"></label>
                            <input type="text" class="form-control input-lg" id="search-404" placeholder="Click to make me happy">
                        </div>
                        <button type="submit" class="hl-btn hl-btn-default hl-btn-lg" id="submit-404">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
