@{
    ViewBag.Title = "Page 1: Post Redirect Get Redirect Get (Meta Refresh) - Slow task";
}

<div class="well">
    <form action="@Url.Action("RunAsynchronousTask")" method="post">
        <input type="submit" class="btn btn-primary" value="Click here to run the task" />
    </form>
</div>
<p>The server will start the task. This can take up to a minute.</p>
<p>A page will be shown while the server processes, and will refresh every 2 seconds.</p>

