@using JulianPerrottName.Models;
@model List<PageSummary>

@{
    Layout = null;
}

@if (Model == null || Model.Count == 0)
{
    <p>No content found.</p>
}
else
{
    foreach (var summary in Model)
    {
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="@summary.Image" alt="Blog Message">
            </a>
            <div class="media-body">
                <h4 class="media-heading"><a href="#">@summary.Title</a></h4>
                @summary.Description
            </div>
        </div>
    }
}

<a href="#" class="read-more">Read more stories...</a>