
<div class="row">
    <div class="col-md-12 block-header">
        <h2>
            <span class="title">Recent Works</span><span class="decoration"></span><span class="decoration"></span><span class="decoration"></span>
        </h2>
    </div>
</div>

<div class="row">
    <div class="partialContents" data-url="@Url.Action("ProjectSummary","Home",new { area = "Home" })">
        <img src="@Url.Content("~/Areas/Home/img/indicator.white.gif")" /> Loading ...
    </div>
</div>
