<div class="row">
    <div class="col-md-12">
        <div class="services">
            <ul>
                <li>
                    <i class="fa fa-briefcase fa-3x"></i>
                    <p>Lorem ipsum dolor sit amet<br /><a href="#">Action...</a></p>
                </li>
                <li>
                    <i class="fa fa-cloud-upload fa-3x"></i>
                    <p>Lorem ipsum dolor sit amet<br /><a href="#">Action...</a></p>
                </li>
                <li>
                    <i class="fa fa-laptop fa-3x"></i>
                    <p>Lorem ipsum dolor sit amet<br /><a href="#">Action...</a></p>
                </li>
                <li>
                    <i class="fa fa-gears fa-3x"></i>
                    <p>Lorem ipsum dolor sit amet<br /><a href="#">Action...</a></p>
                </li>
                <li>
                    <i class="fa fa-compass fa-3x"></i>
                    <p>Lorem ipsum dolor sit amet<br /><a href="#">Action...</a></p>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
</div>