<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="animated slideInDown">
            <h1>Julian Perrott</h1>
        </div>
        <div class="list">
            <ul>
                <li class="animated slideInLeft first"><span class="li-bg"><i class="fa fa fa-code"></i> <span>Software Developer.</span></span></li>
                <li class="animated slideInLeft second"><span class="li-bg"><i class="fa fa-cogs"></i> <span>Passionate about code.</span></span></li>
                <li class="animated slideInLeft third"><span class="li-bg"><i class="fa fa-tablet"></i> <span>This is my playground.</span></span></li>
            </ul>
        </div>
    </div>
    <div class="col-md-6 hidden-sm hidden-xs">
        <div class="showcase">
            <div class="iMac animated fadeInDown"></div>
            <div class="iPad animated fadeInLeft"></div>
            <div class="iPhone animated fadeInRight"></div>
        </div>
    </div>
</div>