<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="animated slideInDown">
            
            <h1 style="background: rgba(0, 0, 0, 0.1);">Julian Perrott</h1>
        </div>
        <div class="list">
            <ul>
                <li class="animated slideInLeft first"><span class="li-bg"><i class="fa fa fa-code"></i> <span>Software Developer.</span></span></li>
                <li class="animated slideInLeft second"><span class="li-bg"><i class="fa fa-cogs"></i> <span>Passionate about code.</span></span></li>
                <li class="animated slideInLeft third"><span class="li-bg"><i class="fa fa-tablet"></i> <span>This is my playground.</span></span></li>
            </ul>
        </div>
    </div>
    <div class="col-md-6 hidden-sm hidden-xs">
        <div class="showcase">
            <div id="iEnvyRecline" class="iEnvyRecline animated fadeInDown green-tooltip" data-toggle="tooltip" data-placement="top" title="My HP Envy Recline - Click Me!"></div>
            <div id="iNexus7" class="iNexus7 animated fadeInLeft green-tooltip" data-toggle="tooltip" data-placement="top" title="My Nexus 7 Tablet - Click Me!"></div>
            <div id="iMotoG" class="iMotoG animated fadeInRight green-tooltip" data-toggle="tooltip" data-placement="top" title="My Moto G Phone - Click Me!"></div>
            <div id="iLeapMotion" class="iLeapMotion animated fadeInRight green-tooltip" data-toggle="tooltip" data-placement="top" title="Leap Motion - Click Me!">
            </div>
        </div>
    </div>
</div>

