<div class="col-md-8">
    <div class="block-header">
        <h2>
            <span class="title">Welcome Message</span><span class="decoration"></span><span class="decoration"></span><span class="decoration"></span>
        </h2>
    </div>
    <div>
        <img src="~/Areas/Home/img/ideas.jpg" class="img-about img-responsive" alt="About">
        <p>
            Welcome to my personal site.
            <br /><br />
            I've been coding for most of my life, it's the strange mixture of creative, scientific and constant change which never gets old. 
            <br /><br />
            Here on this site you will find examples of me experimenting with different web,server and database technologies, to try and both understand them and showcase their possibilities. Take a look at my blog and the
            projects below to see what I am having fun with.
            <br /><br />
            <br /><br />
        </p>
    </div>
    <div class="info-board info-board-blue">
        <h4>Contact info</h4>
        <p>Any feedback/comments/questions (good or bad) are welcome, contact information can be found in the footer.</p>
    </div>
</div>